@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-color: #8350e8;
  --sparkles-color: #8350e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sparkles-color: var(----sparkles-color);
  --color-gradient-color: var(----gradient-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-color: #8350e8;
    --sparkles-color: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
